/* Importing google fonts - Montserrat */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100..9008&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

body {
    display: flex;
    padding: 15px;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: #5145BA;
}
 
:where(.config-container, .quiz-container, .result-container) {
    display: none; 
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 10px 25px rgba(0, 0, 0 ,0.13);
}
.config-container {
    display: block; 
    width: 415px;
    padding: 25px;
    text-align: center;
   /** background: #fff;
    border-radius: 8px;
    box-shadow: 0 10px 25px rgba(0, 0, 0 ,0.13);**/
}

.config-container  .config-title {
    font-size: 1.31rem;
}

.config-container .config-option {
    margin-top: 25px;
}

.config-options .config-title {
    font-size: 1.125rem;
    font-weight: 500;
    margin-bottom: 20px;
}

.config-option .category-options {
    display: grid;
    gap: 15px;
    grid-template-columns: repeat(2, 1fr);
}

.config-options .question-options {
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
    padding: 0 30px;
    justify-content: center;
}

.config-option button {
    padding: 12px;
    font-size: 0.938rem;
    font-weight: 500;
    background: #fff;
    border-radius: 6px;
    cursor: pointer;
    border: 1px solid #9B8FFF;
    transition: 0.3s ease;
}

.config-option button.active {
  color: #5145BA;
  border-color: #5145BA;
  background: #dfdafd;
}

.config-option button:hover,
.quiz-content .answer-option:hover
 {
    background: #837cb0;
}

.question-options button {
    flex: 1 1 10%;
}

.config-container .start-quiz-btn,
.quiz-footer .next-question-btn,
.result-container .try-again-btn {
    color: #fff;
    border: none;
    cursor: pointer;
    font-weight: 500;
    background: #5145BA;
    padding: 13px 25px;
    font-size: 6px;
    border-radius: 6px;
    transition: background 0.3s ease;
}

.config-container .start-quiz-btn {
    margin-top: 30px;
}

.config-container .start-quiz-btn:hover,
.quiz-footer .next-question-btn:hover,
.result-container .try-again-btn:hover {
background: #403795;
}

.quiz-container {
    display: block;
    width: 480px;
}

.quiz-container .quiz-header {
    display: flex;
    align-items: center;
    padding: 14px 25px;
    justify-content: space-between;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.09);
}

.quiz-header .quiz-title {
    font-size: 1.43rem;
    font-weight: 700;
}

.quiz-header .quiz-timer {
    display: flex;
    width: 70px;
    color: #fff;
    display: flex;
    align-items: center;
    gap: 5px;
    font-weight: 600;
    padding: 7px 9px;
    border-radius: 6px;
    background: #32313C;
    transition: 0.3s ease;
}

.quiz-header .quiz-timer span {
    font-size: 1.4rem;
}

.quiz-content {
    padding: 20px 25px 25px;
}

.quiz-content .question-text {
    font-size: 1.5rem;
    font-weight: 600;
}


.quiz-content .answer-options {
    display: flex;
    gap: 15px;
    flex-direction: column;
    list-style: none;
    margin-top: 20px;
}

.quiz-content .answer-option {
    display: flex;
    align-items: center;
    padding: 13px 16px;
    background: #F3F1FF;
    border-radius: 6px;
    font-weight: 500;
    cursor: pointer;
    justify-content: space-between;
    border: 1px solid #B5ACFF;
    transition: 0.3s ease;
}

.quiz-content .answer-option span {
    display: block;
    flex-shrink: 0;
    margin: -4px -3px -4px 12px;
}

.quiz-content .answer-option.correct{
    background-color: #B7E1C1;
    background: #D4EDDA;
    color: #155724;
}
.quiz-content .answer-option.incorrect{
    background-color: #F4BEC3;
    background: #F8D7DA;
    color: #721C24;
}

.quiz-container .quiz-footer {
    padding: 15px 25px;
    display: flex;
    align-content: center;
    justify-content: space-between;
    border-top: 1px solid #c6c6c6;
}

/*.quiz-footer .next-question-btn {
        font-weight: 500;
}*/

.quiz-footer .question-status {
    font-weight: 500;
}

.quiz-footer .question-status b,
.result-container .result-message b {
    font-weight: 600;
}
.quiz-footer .next-question-btn {
    display: inline-flex;
    gap: 5px;
    /*visibility: hidden;*/
    align-items: center;
    padding: 9px 17px;
}

.quiz-footer .next-question-btn,
.result-container .try-again-btn,
.config-container .start-quiz-btn {
    font-size: 1.5rem;
    font-weight: 300;
}

.result-container {
    display: block;
    text-align: center;
    padding: 40px;
    width: 410px;
}

.result-container .result-img {
    width: 110px;
}

.result-container, .result-title {
    margin-top: 30px;
}

.result-container .result-message {
    font-size: 1.125rem;
    font-weight: 500;
    margin-top: 15px;
}

.result-container .try-again-btn {
    margin-top: 30px;
    padding: 12px 20px;
}

 .option-title {
    margin-bottom: 20px;
}

/*media query code for mobile screen */
@media(max-width: 624) {
    .config-container,
    .quiz-container .quiz-content {
        padding: 20px;
    }

    .quiz-content .answer-option {
        padding: 12px 10px 12px 14px;
    }

    .config-container .question-options {
        padding: 0 15px;
    }

    .quiz-container .quiz-header,
    .quiz-container .quiz-footer {
        padding: 13px 20px;
    }

    .quiz-header .quiz-title,
    .quiz-content .question-text {
        font-size: 1.3rem;
    }

    .result-container {
        padding: 40px 20px;
    }

    .result-container .result-title {
        font-size: 1.4rem;
    }
}